
.color, .size, .brand {
    display: flex;
    flex-direction: column;
  }
  
  .colorLabel, .sizeLabel, .brandLabel {
    font-weight: bold !important;
  }
  
  .color select, .size select, .brand select{
    margin: 10px 30px 0 0;
    padding: 10px;
    border: 1px solid var(--dark);
    width: 100px !important;
  }
  
  
  .filterWrapper {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
  }
  
  .image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    padding: 10px;
    
  }
  
  .price p{
    font-weight: bold !important;
    color: var(--dark);
  }
  
  .price {
    display: inline-block !important;
    vertical-align: 12% !important;
  }
  
  .bannerImage img{
    width: 100vw;
    height: 40vh;
    margin-bottom: 30px;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }
  
  .bannerImage h2{
    position: absolute;
    top: 32%;
    left: 40%;
    font-size: 4rem;
    font-style: italic;
    color: var(--white);
  }
  
  .image img {
    height: 300px;
    object-fit: contain;
  }
  
  .grid {
    margin-top: 30px !important;
    cursor: pointer;
  }