.inStock {
    background-color: var(--green);
    color: var(--white);
    padding: 3px 10px;
}

.outOfStock {
    background-color: var(--red);
    color: var(--white);
    padding: 3px 10px;
}

.imageContainer img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}